@import "compass";
@import "susy";

@import "vendor/_normalize";
@import "vendor/_jquery.qtip";
@import "modules/_colors";
@import "modules/_fonts";
@import "modules/_mixins";
@import "vendor/_ss-social-circle";


/* LAYOUT
----------------------------------------------- */
// SUSY
$total-columns: 16;
$column-width: 55px;
$gutter-width: 20px;    
$grid-padding: 0; 

$container-style: magic;

.container {	
	// @include susy-grid-background;
	@include container;
	padding: 0;

	&.main {
		background-color: #fff;
	}
}

html {
	background: $background;
	-webkit-font-smoothing: antialiased;
}

section, footer {
	@include span-columns(16, 16);
	margin-right: 0;
}

.container {
	img {
		width: 100%;
	}
}

.one-three {
	.col-one {
		@include span-columns(5, 16);
		@include prefix(1.1);
	}

	.col-three {
		@include span-columns(9, 16);
		@include omega;
	}

	@include respond-to(medium) {
		.col-one, .col-three {
			width: columns(12, 16);
			@include prefix(2, 16);
			@include suffix(2, 16);
		}
	}
}

.three-one {
	.col-one {
		@include span-columns(5, 16);
		@include suffix(1);
		@include omega;
	}

	.col-three {
		@include span-columns(9, 16);
		@include prefix(1);
	}

	@include respond-to(tablet-portrait) {
		.col-one, .col-three {
			width: columns(12, 16);
			@include prefix(2, 16);
			@include suffix(2, 16);
		}
	}
}

.dark {
	background: $darkGray;

	h2 {
		color: $lighterGray2;
	}

	p {
		color: #fff;
	}
}


/* TYPOGRAPHY
----------------------------------------------- */
$baseline: 3;
* {
	text-rendering: optimizeLegibility;
}

.container {
	h2, h3, h4 {
		@extend %primary-sans-serif;
	}

	p {
		@extend %primary-serif;
		@include type-size(1.6, 3);
		@include px-to-rem(margin-bottom, $baseline);
		@include px-to-rem(margin-top, $baseline/2);
	}

	.col.text p {
		margin-top: 0;
	}
}

h2 {
	color: $darkGray;
	letter-spacing: .07em;
	margin: ($baseline/2 + rem) 0 ($baseline/2 + rem) 0;
	position: relative;
	text-transform: uppercase;

	@include type-size(1.8);
	@include px-to-rem(margin-bottom, 6);

	&:after {
		background: $darkHeadings;		
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		top: 47px;
		width: 80px;
	}

	&.pull {
		margin-left: columns(-2);
	}
}

.light h2 {
	color: $lightHeadings;

	&:after {
		background: #eee;
	}
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.centered-text {
	@include span-columns(8, 16);
	@include prefix(4, 16);
	@include suffix(4, 16);

	p {
		@include type-size(1.8, 3.3);	
	}

	h2 {
		@extend .pull;
	}

	@include respond-to(large) {
		@include span-columns(12, 16);
		@include prefix(2, 16);
		@include suffix(2, 16);
	}
}

/* HEADER
----------------------------------------------- */
header {
	background: url('../images/hero-2.jpg') no-repeat center;
	background-size: cover;
	display: table;
	height: 100vh;
	position: relative;	
	width: 100%;
}

@include respond-to(phone-mid) {
	.touch header {
		height: 400px;
	}
}

h1 {	
	color: #fff;
	display: table-cell;
	font-style: italic;
	margin: 0;
	// padding: 478px 0;
	padding: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;

	@include type-size(8.1);
	@extend %secondary-sans-serif;

	// &:after {
	// 	background: url('../images/title-bg.svg') no-repeat center;
	// 	content: '';
	// 	height: 100%;
	// 	left: 0;
	// 	opacity: .65;
	// 	position: absolute;
	// 	top: 0;
	// 	width: 100%;
	// }
}

/* SECTION ONE
----------------------------------------------- */
.section-one {
	@include px-to-rem(margin-bottom, $baseline * 5.5);
	@include px-to-rem(padding-top, $baseline * 4.5);
	
	.inner {
		@extend .centered-text;	
	}
}

/* SECTION TWO
----------------------------------------------- */
.section-two {
	@extend .dark;

	.inner {
		@include px-to-rem(margin-bottom, $baseline * 3);
		@include px-to-rem(padding-top, $baseline * 3);
		@extend .centered-text;	
	}

	.stats {
		display: block;
		width: 100%;

		@extend .clearfix;
		@extend %primary-sans-serif;

		li {
			color: #eaeaea;
			float: left;
			font-weight: 700;
			letter-spacing: -.07em;
			position: relative;
			text-align: center;
			width: 33.33%;

			@include type-size(6.9, 7.8);

			&:after {
				background: #464645;
				content: '';
				height: 100px;
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
			}

			&:last-child:after {
				content: none;
			}
		}

		span {
			color: #545351;
			display: block;
			font-weight: 500;
			letter-spacing: .05em;
			text-transform: uppercase;

			@include type-size(1.5);
		}

		@include px-to-rem(margin-bottom, $baseline * 4);

		@include respond-to(medium) {
			li {
				@include type-size(6.3, 7.1);
			}

			span {
				@include type-size(1.4);
			}
		}

		@include respond-to(tablet-portrait) {
			li {
				@include type-size(5.7, 6.4);
			}

			span {
				@include type-size(1.3);
			}
		}

		@include respond-to(phone-big) {
			li {
				margin-bottom: 27px;
				margin-left: 5%;
				padding-bottom: 30px;
				width: 90%;

				@include type-size(6.9, 7.8);

				&:after {
					bottom: 0;			
					height: 1px;
					position: absolute;
					left: 30%;
					top: auto;
					width: 40%;
				}
			}

			span {
				@include type-size(1.5);
			}
		}	
	}
}

/* SECTION THREE
----------------------------------------------- */
.section-three {
	.text {		
		@include px-to-rem(padding-top, $baseline * 2);
	}

	.stats {
		@include span-columns(13.8, 16);
		@include prefix(1.1);

		@include px-to-rem(padding-bottom, $baseline * 2);
		@include px-to-rem(padding-top, $baseline * 2);

		li {
			background: #fff;
			border: 1px solid $accent;
			display: inline-block;
			height: 37px;
			margin-left: .03em;
			margin-right: .03em;
			position: relative;			
			width: 37px;

			@include border-radius(40px);

			&.planned {
				background: #e9eaeb;
				border-color: #e9eaeb;
			}

			&.activity {
				background: $accent;
			}
		}
	}
}

// Graph
#pie-chart {
	height: 480px;

	text {
		@extend %primary-sans-serif;
	}
}

path.slice{
    stroke-width: 1px;    
}

polyline{
    // opacity: 1;
    // stroke: $lighterGray;
    // stroke-width: 1px;
    // fill: none;
}

// Dots 

.qtip-default {
	background: $darkGray;
	border-color: $darkGray;
	color: $lighterGray;
	padding: 16px 6px 0;
	text-align: center;

	@extend %primary-sans-serif;

	.qtip-titlebar {
		background: $darkGray;
		padding: 2px 10px;
	}

	.qtip-title {
		letter-spacing: .05em;
		text-transform: uppercase;
		@include type-size(1.2);
	}

	.qtip-content {
		background: $darkGray;
		color: #fff;
		font-weight: 700;
		padding-bottom: 20px;
		text-align: center;

		@include type-size(2.1);

		span {
			font-weight: 400;

			@include type-size(1.6);
		}
	}
}

/* SECTION FOUR
----------------------------------------------- */
.section-four {
	@extend .dark;

	.text {
		@include px-to-rem(padding-top, $baseline * 5);
	}

	.col-three {
		@include respond-to(tablet-portrait) {
			padding: 0;
			width: 100%;
		}

		@media only screen and (min-width: 820px) {
			padding-left: 0;
		}
	}

	ul {	
		margin: 0;

		li {
			border-right: 1px solid rgba(255,255,255,.05);
			color: #fff;
			float: left;
			font-weight: 700;
			padding: 96px 0;
			text-align: center;
			width: 50%;

			@extend %primary-sans-serif;
			@include type-size(9, 9.2);
			@extend %border-box;

			span {
				color: $lightGray;
				display: block;
				font-weight: 400;
				// letter-spacing: .1em;
				text-transform: uppercase;
				@include type-size(2);
			}
			
			&.first, &.second {
				border-bottom: 1px solid rgba(255,255,255,.05);
			}			
		}

		@include respond-to(medium) {
			li {
				@include type-size(7.8, 8);

				&.first, &.second {
					border-top: 1px solid rgba(255,255,255,.05);
				}			
			}

			span {
				@include type-size(1.8);
			}
		}

		@include respond-to(tablet-portrait) {
			li {
				&.second, &.fourth {
					border-right: none;
				}
			}
		}

		@include respond-to(phone-mid) {
			li {
				padding: 63px 0;

				@include type-size(6, 6.2);		
			}

			span {
				@include type-size(1.6);
			}
		}
	}
}

/* SECTION FIVE
----------------------------------------------- */
.section-five {

	#map {
		height: 715px;

		.leaflet-left .leaflet-control {
			box-shadow: none;
			border-radius: 0;
			margin-left: 20px;
			margin-top: 20px;

			a {
				padding: 3px;
				@include border-radius(0);

				&:hover {
					color: #fff;
					background: $darkGray;
				}

				&:active {
					opacity: .8;
				}
			}
		}
	}

	.col-one {
		float: left;
		@include span-columns(4.5, 16);
		@include px-to-rem(margin-top, $baseline * 5.2);

		@include respond-to(medium) {
			@include span-columns(12, 16);
			@include prefix(2, 16);
			@include suffix(2, 16);
		}
	}

	.col-three {		
		float: right;
	}

	.tunes__stats {
		float: left;
		font-weight: 400;
		margin-bottom: 0;
		width: 100%;

		padding: 0; /*GF*/

		@extend %primary-sans-serif;
		@include type-size(6.8);
		@extend %border-box;

		li {
			display: inline-block;
			letter-spacing: -.01em;
			padding-bottom: 21px;
			padding-top: 6px;			
			text-align: center;
			
			width: 33.20833015%; /*GF*/
			float: left; /*GF*/
			border-right: 1px solid rgba(0,0,0,.1); /*GF*/

			@include type-size(6.6);

			&:last-child {
				border: none;
				padding-right: 0;
			}			

			span {
				color: #c0c0bf;
				letter-spacing: 0;
			}
		}

		span {
			display: block;
			font-weight: 400;
			text-transform: uppercase;
			
			@include type-size(1.2);
		}
	}
}

.leaflet-marker-icon {
	background: $accent;
	border: 3px solid #fff;

	@include border-radius(30px);

	&.active {
		background: #fff;
		border: 5px solid $midGray;
		height: 32px!important;
		width: 32px!important;

		margin-left: -20px!important;
		margin-top: -20px!important;

		.number {
			padding-top: 2px;
			width: 32px;
			@include type-size(1.6, 3);
		}
	}
}

.number {
	color: $midGray;
	font-weight: 700;
	letter-spacing: -.07em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 24px;
	
	@include type-size(1.3, 2.5);
	@extend %primary-sans-serif;
}

.leaflet-popup-content {
	margin: 0!important;
	width: 225px!important;
}

.leaflet-popup-content-wrapper {
	float: left;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: $midGray!important;

	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	border-radius: 0!important;
	padding: 0!important;

	@extend %primary-sans-serif;

	.leaflet-popup-content {
		display: inline-block;
		float: left;
	}

	img {
		float: left;
		width: 80px;
	}

	.music-info {
		color: #fff;
		float: left;
		margin-left: 10px;
		width: 115px;

		a {
			color: #fff;
		}
	}

	.song-name {
		display: block;
		font-weight: 700;
		margin: 9px 0;

		@include type-size(1.4);
	}

	.artist-name, .spotify-url {
		color: #fff;
		display: block;

		@include type-size(1.2, 1.1);
	}
}

/* SECTION SIX
----------------------------------------------- */
.section-six {
	@extend .dark;

	@include px-to-rem(padding-bottom, $baseline * 2);
	@include px-to-rem(padding-top, $baseline * 3.5);

	.inner {
		@extend .centered-text;
	}

	a {
		color: #fff;
	}

	.social {
		display: inline-block;
		@include span-columns(13.2, 16);
		margin-left: columns(1.4);

		@extend %primary-sans-serif;		
		@include px-to-rem(margin-top, $baseline * 4);

		li {
			border: 2px solid $darkLine;
			border-right: none;
			float: left;
			text-align: center;

			width: columns(4, 12) + gutter(12);
			@extend %border-box;

			&:last-child {
				border-right: 2px solid $darkLine;
				width: columns(4, 12);
				@include omega;
			}
		}

		a {
			display: block;
			font-weight: 700;
			letter-spacing: .2em;
			padding: 24px 0;
			text-transform: uppercase;

			@include type-size(1.6);
		}
	}
}

/* FOOTER
----------------------------------------------- */
.container footer {
	background: $footerBg;
	color: #fff;

	.inner {
		text-align: center;

		@include span-columns(14, 16);
		@include prefix(1, 16);
	}

	a {
		color: $accent;
	}

	h4 {
		color: $lighterGray;
	}

	p, li, a {
		@extend %primary-sans-serif;
	}

	p {
		@include px-to-rem(margin-bottom, 1.6);
	}

	.attr {
		@include px-to-rem(margin-top, 3);
		letter-spacing: .04em;
	}

	.photo-attr {
		color: #4a4a48;

		@include type-size(1.3, 1.7);
	}

	.social {
		display: block;
		margin: 0;

		li {
			display: inline-block;
		}

		a {
			color: #4c4b49;
			padding: 0 2px;

			@extend %basic-animation;
			@include type-size(2.1);

			&:hover {
				color: $accent;
			}
		}
	}
}