# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/.sass-cache
.DS_Store
/Node_Server/node_modules/grunt
/components
/public/components
/node_modules