/* COLORS
----------------------------------------------- */
$background: 		#e3e3e3;
$accent: 			#fcb73f;
$darkerGray: 		#262624;
$darkGray: 			#292826;
$midGray: 			#373634;
$lightGray: 		#4d4d4d;
$lighterGray: 		#8b8b8b;
$lighterGray2: 		#949493;

// Lines
$darkLine: 			#4b4a49;

// Type
$darkHeadings: 		#464645;
$lightHeadings: 	#bec2c4;