/* FONTS
----------------------------------------------- */
$primarySerif: georgia, serif;
$primarySansSerif: "futura-pt", helvetica, arial, sans-serif;
$secondarySansSerif: "proxima-nova-condensed", helvetica, arial, sans-serif;

%primary-serif {
	font-family: $primarySerif;	
}

%primary-sans-serif {
	font-family: $primarySansSerif;
}

%secondary-sans-serif {
	font-family: $secondarySansSerif;
}